
.menu {
	position: absolute;
	top: 50px;
	left: 10 px;
	width: 150px;
	height: 100%;

}

.body {
	position: absolute;
	top: 10px;
	left: 200 px;
	width: 700px;
	height: 100%;
}

th {
	font-size: 12px;
	font-style: bold;
}	