/*
 * $Id: stylesheet.css,v 1.1 2001/12/19 22:22:00 lhoriman Exp $
 * $Source: /cvsroot-fuse/mav/maverick/examples/friendbook-jsp/content/stylesheet.css,v $
 */

a:link		{ color: blue; }
a:visited	{ color: mediumblue; }
a:hover		{ color: red; }

a.nav:link		{ color: gold; }
a.nav:visited	{ color: gold; }
a.nav:hover		{ color: red; }

body {
    font-size: 10pt;
    color: black;
    font-family: lucida, verdana;
    background-color: white
}

table {
    font-size: 10pt;
    color: black;
    font-family: lucida, verdana;
    background-color: white
}

td.friendValue {
	background-color: palegoldenrod;
    text-align: left;
    vertical-align: top;
}

th.friendTitle {
	background-color: gray;
    text-align: center;
    vertical-align: middle;
    color:white;
    font-weight: bold;
}

.errorText {
    color: red;
    background-color: white;
}

.pageTitle {
	font-weight: bold;
	letter-spacing: 0.25em;
	text-align: center;
	color: white;
	background-color: #000066;
}

.navigationAll {
	color: white;
	background-color: #000066;
}

.navigationTop {
	color: white;
	background-color: #000066;
	border-top-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-color: white;
}

.editTitle {
	font-weight: bold;
	text-align: right;
}