grant 
{
  permission javax.security.auth.AuthPermission "/";
  permission javax.security.auth.AuthPermission "/index.m";
  permission javax.security.auth.AuthPermission "/login.m";
  permission javax.security.auth.AuthPermission "/logoff.m";
};




