<html>
	<head>
		<title>Sample Velocity Page</title>
	</head>

	<body>
		<h2>Hello from velocity!</h2>

		<p>
			<i>Here's a list:</i>
		</p>

		<table border="2">
			#foreach ($entry in $model.Stuff)
				<tr>
					<td> $entry.Foo </td>
					<td> $entry.Bar </td>
				</tr>
			#end
		</table>
	</body>
</html>
