<html>
<head><title>Sample velocity page</title></head>
<body bgcolor="#ffffff">
<center>

<h2>Hello from velocity!</h2>
<i>Here's the list of people</i>
<table cellspacing="0" cellpadding="5" widht="100%">
    <tr>
        <td bgcolor="#eeeeee" align="center">
            prop
        </td>
    </tr>
    <tr>
        <td bgcolor="#eeeeee">$model.getProp()</td>
    </tr>
</table>
</center>
</html>
