
grant	principal nl.openedge.modules.impl.usermanager.hib.RolePrincipal "tableadmin" {
 
  permission javax.security.auth.AuthPermission "/forgroup";
};

grant	principal nl.openedge.modules.impl.usermanager.hib.UserPrincipal "eelco" {
  
  permission javax.security.auth.AuthPermission "/foreelco";
};

grant	principal nl.openedge.modules.impl.usermanager.hib.UserPrincipal "sander" {
  
  permission javax.security.auth.AuthPermission "/forsander";
};

grant {

  permission javax.security.auth.AuthPermission "/forall";
};
