<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd"
>


<web-app>

	<display-name>Foo</display-name>
	<description>Bar</description>

	<!-- Application Servlet Configuration -->
	<servlet>
		<servlet-name>FileImageServlet</servlet-name>
		<servlet-class>nl.burgerweeshuis.website.FileImageServlet</servlet-class>
		<init-param>
			<param-name>imageModule</param-name>
			<param-value>ImageModule</param-value>
		</init-param>
		<init-param>
			<param-name>cacheModule</param-name>
			<param-value>FileCacheModule</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<!-- file image servlet mapping -->
	<servlet-mapping>
		<servlet-name>FileImageServlet</servlet-name>
		<url-pattern>*.getimage</url-pattern>
	</servlet-mapping>

</web-app>
