## Global Macros

## macro for error reports
#macro( error $fieldname )
	#if($velocityCount)
		#set( $fieldindex = $velocityCount - 1 )
		#set( $indexedfieldname = "${fieldname}|${fieldindex}" )
		<font color="red"><b>$!{fieldTool.error($model, $indexedfieldname)}</b></font>
	#else
		<font color="red"><b>$!{fieldTool.error($model, $fieldname)}</b></font>
	#end
#end

